{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/statistics.css' %}">

    <div class="statistics-container">
        <h2>Statistiques</h2>

        <div>
            <h3>Activité</h3>
            <canvas id="gamesChart"></canvas>
        </div>

        <div>
            <h3>Classement</h3>
            <form method="GET">
                <label for="configuration">Configuration:</label>
                <select id="configuration" name="configuration">
                    {% for config in configurations %}
                        <option value="{{ config }}" {% if config == selected_configuration %}selected{% endif %}>{{ config }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Voir le Classement</button>
            </form>
            {% if rank == 'N/A' %}
                <p>Vous n'êtes pas encore classé pour la configuration {{ selected_configuration }}.</p>
            {% else %}
                <p>Classement pour {{ selected_configuration }}: {{ rank }} sur 100 joueurs</p>
            {% endif %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('gamesChart').getContext('2d');
        var gamesChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ days|safe }},
                datasets: [
                    {
                        label: 'Parties normales',
                        data: {{ normal_games_played|safe }},
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    },
                    {
                        label: 'Parties de tournoi',
                        data: {{ tournament_games_played|safe }},
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        fill: false
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}
